<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="allegro_hand_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="joint_0_0">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_0_0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_1_0">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_1_0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_2_0">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_2_0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_3_0">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_3_0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_12_0">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_12_0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_13_0">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_13_0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_14_0">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_14_0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_15_0">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_15_0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_4_0">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_4_0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_5_0">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_5_0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_6_0">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_6_0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_7_0">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_7_0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_8_0">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_8_0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_9_0">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_9_0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_10_0">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_10_0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_11_0">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_11_0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
