<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="allegro_hand">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import allegro_hand urdf file -->
    <xacro:include filename="$(find allegro_hand_controllers)/urdf/allegro_hand_description_left_A.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="allegro_hand.ros2_control.xacro" />


    <xacro:allegro_hand_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>